<br />
<br />
<h2>Click on a user's name to be able to change them from a user to an admin or moderator</h2>

<% @manage_users.each do |user| %>
  <p><%= link_to user.username, admin_manage_user_path(user) %></p>

<% end %>
