<h1 id="content"><%= @post.content %></h1>


<br />
Comments:
<br />
<div class="comment" data-id="<%= @post.id %>">
  <%= render partial: "comments/comment_content", post: @post%>
  <div class="each_comment">

  </div>
<%# @post.comments.reverse_each do |comment| %>


</div>
<%= link_to "Next Post", posts_path(@post), :id => "next_button", :'data-id' => @post.id %>
