<h1 id="content"><%= @post.content %></h1>


<br />
Comments:
<br />
<div class="comment">
  <%= render partial: "posts/comment_content", post: @post%>
  <div class="each_comment">

  </div>
<%# @post.comments.reverse_each do |comment| %>


</div>
<%= link_to "Next Post", posts_path(@post), :id => "next_button", :'data-id' => @post.id %>
