body {
  height: 100%;
  margin: 0;
}
.home {
  height: 100vh;

  text-align: center;
  color: #FFF;
  background-image: url(message_bottle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: arial;

}
.home h1 {
  font-size: 40pt;
  font-weight: bold;
  width: 800px;
  margin: 0 auto;
  text-shadow: 4px 4px 4px rgba(119, 119, 119, 1);
  margin-top: 300px;
}
.home p {

  margin: 0 auto;
  width: 300px;
  text-shadow: 4px 4px 4px rgba(119, 119, 119, 1);
  font-size: 20pt;
}
.home a {
  text-decoration: none;
  color: #FFF;
}
