// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.facebook {
  background-color: #4864b3;
  height: 40px;
  width: 100px;
  padding: 5px;
}
.facebook a {
  color: #fff;
  font-family: arial;
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
}
